# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     trust
local   all             all                                     trust
host    all             all             127.0.0.1/32            trust
{% for dbuser in postgresql_dbuser %}
host    {{ dbuser.db }}    {{ dbuser.name }}    {{ dbuser.addr }}    {{ dbuser.method }}
{% endfor %}